<!DOCTYPE html>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<!--<html ng-app="sdApp">-->
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="format-detection" content="telephone=no"/>
    <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
    <meta name="viewport"
          content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi"/>

    <link rel="stylesheet" href="css/mobile-angular-ui-base.css" type="text/css"/>

    <link rel="stylesheet" type="text/css" href="css/index.css"/>
    <link rel="stylesheet" type="text/css" href="css/overrides.css"/>

    <meta name="msapplication-tap-highlight" content="no"/>
    <title>TestApp</title>
</head>
<body>

<div ng-controller="SidebarController" class="sidebar sidebar-left" toggleable parent-active-class="sidebar-left-in"
     id="mainSidebar">
    <h1 class="app-name"><a style="color:inherit; text-decoration: none">Test-App</a></h1>

    <div class="scrollable">
        <div class="scrollable-content">
                    <div class="list-group list-group-demonstration" toggle="off" bubble target="mainSidebar">
                        <a ng-repeat="t in sidebar_main" class="list-group-item" href="#/{{t.linkURL}}">{{t.labelText}}
                            <i class="fa fa-chevron-right pull-right"></i></a>
                    </div>
        </div>
    </div>
</div>

<div class="app">
    <div ng-controller="NavbarController" class="navbar navbar-app navbar-absolute-top">

        <div class="navbar-brand navbar-brand-center" yield-to="title">
            <span>TestApp</span>
        </div>

        <div class="btn-group pull-left">
            <div ng-click="toggle('mainSidebar')" class="btn btn-navbar sidebar-toggle">
                <i class="fa fa-bars"></i> Menu
            </div>
        </div>

        <div class="btn-group pull-right" yield-to="navbarAction">
            <div class="btn btn-navbar">
                <i class="fa fa-plus"></i>foo
            </div>
        </div>
    </div>

    <div class="app-body">
        <div ng-view class="app-content"></div>
    </div>

</div>

<script type="text/javascript" src="cordova.js"></script>

<script type="text/javascript" src="js/modernizr-latest.js"></script>

<script type="text/javascript" src="js/angularJS_1.3.2/angular.min.js"></script>
<script type="text/javascript" src="js/angularJS_1.3.2/angular-route.min.js"></script>
<script type="text/javascript" src="js/angularJS_1.3.2/angular-animate.min.js"></script>

<script type="text/javascript" src="js/mobile-angular-ui.min.js"></script>
<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>

<script type="text/javascript" src="js/index.js"></script>

<script type="text/javascript" src="js/custom.js"></script>
<script type="text/javascript" src="js/customDirectives.js"></script>
<script type="text/javascript" src="js/routing.js"></script>

<script type="text/javascript" src="js/controller/StartController.js"></script>
<script type="text/javascript" src="js/controller/NavbarController.js"></script>
<script type="text/javascript" src="js/controller/SidebarController.js"></script>

<script type="text/javascript">
    app.initialize();
</script>
</body>
</html>