<!--<div class="btn-group pull-right" yield-to="navbarAction">-->
<!--&lt;!&ndash;<div class="btn btn-navbar" onclick="startAngularJS()">&ndash;&gt;-->
<!--&lt;!&ndash;startAngularJS&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--foo-->
<!--</div>-->

<div content-for="navbarAction" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <!--<button ng-click="resetManagmentPage()">reset</button><span>reset</span>-->
    <div class="btn btn-navbar" ng-click="resetManagementPage()">
        <i class="fa fa-refresh"></i> reset
    </div>
</div>

<div class="scrollable-content">
    <div class="panel">

        <div class="panel-heading">
            CSV-Management
        </div>
        <div class="panel-body">

            <div class="example" ng-hide="filesWereDropped">
                <div id="dropZone">Drop X-Camera CSV-file(s) here</div>
                <output id="list"></output>
            </div>

            <div ng-show="filesWereDropped">
                <select ng-model="selectedFile"
                        size="5"
                        id="CSVSelect"
                        ng-options="file.name for file in allCamerasArray">
                </select>
            </div>

            <div ng-show="selectedFile">
                <button ng-click="openOverlay()">
                    show csv
                </button>
            </div>



            <!--<select ng-model="selectedCategory"-->
            <!--size="5"-->
            <!--id="categoriesSelect">-->
            <!--<option ng-repeat="category in selectedFile.categoriesArray">-->
            <!--{{ category.name }} ({{category.camerasArray.length}} cameras)-->
            <!--</option>-->
            <!--</select>-->


            <!--BACKUP-->
            <!--<div class="list-group">-->
            <!--<div class="list-group-item"-->
            <!--ng-repeat="category in selectedFile.categoriesArray">-->

            <!--<div ng-show="expectArrayCategoryNames[$index]==category.name">-->
            <!--<b>{{ category.name }} ({{ category.camerasArray.length }} cameras)</b>-->
            <!--</div>-->

            <!--<div ng-show="expectArrayCategoryNames[$index]!=category.name">-->
            <!--<div class="highlightNotMatching">-->
            <!--<b>{{ category.name }} ({{ category.camerasArray.length }} cameras)</b>-->
            <!--&lt;!&ndash;<div ng-show="expectArrayCategoryNames[$index]"&ndash;&gt;-->
            <!--(should be {{expectArrayCategoryNames[$index]}})-->
            <!--</div>-->
            <!--</div>-->
            <!---->
            <!--&lt;!&ndash;<div ng-show="filesWereDropped">&ndash;&gt;-->
            <!--&lt;!&ndash;$scope.filesWereDropped=false;&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->

            <!--<div class="list-group-item"-->
            <!--ng-repeat="camera in category.camerasArray">-->
            <!--{{ camera[1] }}-->
            <!--<div ng-show="camera[2] != 0">(<i class="fa fa-video-camera"></i> view ID {{ camera[2]}})</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--BACKUP-->


            <div class="list-group">
                <div class="list-group-item"
                     ng-repeat="category in selectedFile.categoriesArray">

                    <div ng-show="expectArrayCategoryNames[$index]==category.name">
                        Category:<br>
                        <input ng-model="category.name" type="text">
                        <!--<i class="fa fa-chevron-right pull-right"></i>-->
                        <div class="btn-group-sm pull-right">

                        <button class="btn-sm pull-right" ng-click="categoryMoveUp($index)"><i class="fa fa-caret-up"></i></button>
                        <button class="btn-sm pull-right" ng-click="categoryMoveDown($index)"><i class="fa fa-caret-down"></i></button>
                        </div>

                    </div>

                    <div ng-show="expectArrayCategoryNames[$index]!=category.name">
                        <div class="highlightNotMatching">
                            Category:<br>
                            <input ng-model="category.name" type="text">(should be
                            "{{expectArrayCategoryNames[$index]}}")
                        </div>

                    </div>
                    <div class="list-group">
                        <div class="list-group-item list-group-item-camera"
                             ng-repeat="camera in category.camerasArray">

                            <input ng-model="camera[1]" type="text">

                            <!--view ID-->
                            <div ng-show="camera[2] != 0">(<i class="fa fa-video-camera"></i> view ID {{ camera[2]}})
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<div overlay="myOverlay">
    <p toggle="off" bubble target="myOverlay">
        <!--<span class="btn btn-primary">Ok</span>-->
        <span class="btn btn-default">close</span>
    </p>
    <h4 class="overlay-title">CSV output</h4>

    <b>{{ csvFilename }}</b><br>
    <output>
        {{ csvString }}
    </output>

    <p toggle="off" bubble target="myOverlay">
        <!--<span class="btn btn-primary">Ok</span>-->
        <span class="btn btn-default">close</span>
    </p>
</div>
